<% if @review.errors.any? %>
  <% @review.errors.full_messages.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<%= simple_form_for [restaurant, review] do |f| %>
  <%= f.input :content %>
  <%= f.submit %>
<% end %>


